.navbar{
    height: 80px;
    background-color: aquamarine;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin: 20px;
}
.position-relative img{
    height: 300px;
    width: 300px;

}
